<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Form</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        body {
            padding-top: 60px;
        }
    </style>

</head>
<body>
<div class="card" style="width: 900px; margin-left: 30px;padding: 30px">
    <h1 class="bg-dark text-white p-3 mr-4" style="margin-left: 20px">Add Form</h1>
    <form th:action="@{/add}" method="post" th:object="${box}" >
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="Enter Name" id="Name">
        </div>
        <div class="form-group">
            <input type="radio" name="radio" th:field="*{type}" value="Letter" id="Letter">
            <label>Letter</label>
            <input type="radio" name="radio" th:field="*{type}" value="Packet" id="Packet">
            <label>Packet</label>
        </div>
        <div class="form-group">
            <label for="weight">Weight</label>
            <input type="number" class="form-control" th:field="*{weight}" placeholder="0.0" name="weight" id="weight" >
        </div>
        <div class="form-group">
            <label>Weight Type</label>
            <select class="form-control" name="Weight Type" th:field="*{weightType}" >
                <option value="KG">KG</option>
                <option value="G">G</option>
            </select>

            <div class="form-group">
                <label for="Country">Country</label>
                <input type="text" class="form-control" th:field="*{country}" id="Country">
            </div>

            <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
    <a class="btn bg-danger mt-5 text-white " style="width: 80px;border-color:white; border-radius: 4px ">Back</a>
</div>

</body>
</html>