<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Box List</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        body {
            padding-top: 60px;
        }
    </style>

</head>
<body>
<header>
    <div class="card bg-dark">
        <h1 class="bg-dark text-white" style="padding: 30px;">ShowList</h1>
        <a href="#" class="btn btn-outline-success p-1 mb-3 ml-3" style="width: 90px;">Add Form</a>
        <div>
            <h3 th:if="${boxList.isEmpty()}">No List </h3>
        </div>
        <div th:unless="${boxList.isEmpty()}" class="text-white ml-5">
            <div th:each="box : ${boxList}">
                <p style="font-size: 25px"> ID: <span th:text="${box.id} " style="font-size: 23px"></span> </p> </br>
                <p style="font-size: 25px"> Name: <span th:text="${box.name}" style="font-size: 23px"></span></p></br>
                <p style="font-size: 25px">Country: <span th:text="${box.country}" style="font-size: 23px"></span></p></br>
                <p style="font-size: 25px"> Status: <span th:text="${box.status}" style="font-size: 23px"></span></p></br>
                <p style="font-size: 25px">Weight: <span th:text="${box.weight}" style="font-size: 23px"></span></p></br>
                <p style="font-size: 25px">WeightType: <span th:text="${box.weightType}" style="font-size: 23px"></span>

            </div>
        </div>
    </div>

</header>
</body>
</html>